
.box-container {
}
.box-container .box.elm0 {
	position: fixed;
	z-index: 0;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 30px; 
	top: 30px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm1 {
	position: fixed;
	z-index: 1;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 32px; 
	top: 32px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm2 {
	position: fixed;
	z-index: 2;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 34px; 
	top: 34px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm3 {
	position: fixed;
	z-index: 3;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 36px; 
	top: 36px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm4 {
	position: fixed;
	z-index: 4;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 38px; 
	top: 38px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm5 {
	position: fixed;
	z-index: 5;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 40px; 
	top: 40px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm6 {
	position: fixed;
	z-index: 6;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 42px; 
	top: 42px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm7 {
	position: fixed;
	z-index: 7;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 44px; 
	top: 44px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm8 {
	position: fixed;
	z-index: 8;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 46px; 
	top: 46px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm9 {
	position: fixed;
	z-index: 9;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 48px; 
	top: 48px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm10 {
	position: fixed;
	z-index: 10;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 50px; 
	top: 50px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm11 {
	position: fixed;
	z-index: 11;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 52px; 
	top: 52px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm12 {
	position: fixed;
	z-index: 12;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 54px; 
	top: 54px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm13 {
	position: fixed;
	z-index: 13;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 56px; 
	top: 56px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm14 {
	position: fixed;
	z-index: 14;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 58px; 
	top: 58px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm15 {
	position: fixed;
	z-index: 15;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 60px; 
	top: 60px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm16 {
	position: fixed;
	z-index: 16;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 62px; 
	top: 62px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm17 {
	position: fixed;
	z-index: 17;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 64px; 
	top: 64px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm18 {
	position: fixed;
	z-index: 18;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 66px; 
	top: 66px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm19 {
	position: fixed;
	z-index: 19;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 68px; 
	top: 68px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm20 {
	position: fixed;
	z-index: 20;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 70px; 
	top: 70px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm21 {
	position: fixed;
	z-index: 21;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 72px; 
	top: 72px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm22 {
	position: fixed;
	z-index: 22;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 74px; 
	top: 74px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm23 {
	position: fixed;
	z-index: 23;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 76px; 
	top: 76px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm24 {
	position: fixed;
	z-index: 24;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 78px; 
	top: 78px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm25 {
	position: fixed;
	z-index: 25;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 80px; 
	top: 80px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm26 {
	position: fixed;
	z-index: 26;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 82px; 
	top: 82px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm27 {
	position: fixed;
	z-index: 27;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 84px; 
	top: 84px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm28 {
	position: fixed;
	z-index: 28;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 86px; 
	top: 86px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm29 {
	position: fixed;
	z-index: 29;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 88px; 
	top: 88px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm30 {
	position: fixed;
	z-index: 30;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 90px; 
	top: 90px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm31 {
	position: fixed;
	z-index: 31;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 92px; 
	top: 92px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm32 {
	position: fixed;
	z-index: 32;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 94px; 
	top: 94px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm33 {
	position: fixed;
	z-index: 33;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 96px; 
	top: 96px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm34 {
	position: fixed;
	z-index: 34;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 98px; 
	top: 98px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm35 {
	position: fixed;
	z-index: 35;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 100px; 
	top: 100px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm36 {
	position: fixed;
	z-index: 36;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 102px; 
	top: 102px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm37 {
	position: fixed;
	z-index: 37;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 104px; 
	top: 104px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm38 {
	position: fixed;
	z-index: 38;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 106px; 
	top: 106px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm39 {
	position: fixed;
	z-index: 39;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 108px; 
	top: 108px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm40 {
	position: fixed;
	z-index: 40;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 110px; 
	top: 110px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm41 {
	position: fixed;
	z-index: 41;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 112px; 
	top: 112px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm42 {
	position: fixed;
	z-index: 42;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 114px; 
	top: 114px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm43 {
	position: fixed;
	z-index: 43;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 116px; 
	top: 116px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm44 {
	position: fixed;
	z-index: 44;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 118px; 
	top: 118px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm45 {
	position: fixed;
	z-index: 45;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 120px; 
	top: 120px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm46 {
	position: fixed;
	z-index: 46;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 122px; 
	top: 122px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm47 {
	position: fixed;
	z-index: 47;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 124px; 
	top: 124px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm48 {
	position: fixed;
	z-index: 48;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 126px; 
	top: 126px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm49 {
	position: fixed;
	z-index: 49;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 128px; 
	top: 128px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm50 {
	position: fixed;
	z-index: 50;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 130px; 
	top: 130px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm51 {
	position: fixed;
	z-index: 51;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 132px; 
	top: 132px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm52 {
	position: fixed;
	z-index: 52;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 134px; 
	top: 134px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm53 {
	position: fixed;
	z-index: 53;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 136px; 
	top: 136px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm54 {
	position: fixed;
	z-index: 54;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 138px; 
	top: 138px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm55 {
	position: fixed;
	z-index: 55;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 140px; 
	top: 140px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm56 {
	position: fixed;
	z-index: 56;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 142px; 
	top: 142px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm57 {
	position: fixed;
	z-index: 57;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 144px; 
	top: 144px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm58 {
	position: fixed;
	z-index: 58;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 146px; 
	top: 146px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm59 {
	position: fixed;
	z-index: 59;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 148px; 
	top: 148px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm60 {
	position: fixed;
	z-index: 60;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 150px; 
	top: 150px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm61 {
	position: fixed;
	z-index: 61;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 152px; 
	top: 152px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm62 {
	position: fixed;
	z-index: 62;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 154px; 
	top: 154px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm63 {
	position: fixed;
	z-index: 63;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 156px; 
	top: 156px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm64 {
	position: fixed;
	z-index: 64;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 158px; 
	top: 158px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm65 {
	position: fixed;
	z-index: 65;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 160px; 
	top: 160px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm66 {
	position: fixed;
	z-index: 66;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 162px; 
	top: 162px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm67 {
	position: fixed;
	z-index: 67;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 164px; 
	top: 164px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm68 {
	position: fixed;
	z-index: 68;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 166px; 
	top: 166px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm69 {
	position: fixed;
	z-index: 69;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 168px; 
	top: 168px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm70 {
	position: fixed;
	z-index: 70;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 170px; 
	top: 170px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm71 {
	position: fixed;
	z-index: 71;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 172px; 
	top: 172px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm72 {
	position: fixed;
	z-index: 72;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 174px; 
	top: 174px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm73 {
	position: fixed;
	z-index: 73;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 176px; 
	top: 176px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm74 {
	position: fixed;
	z-index: 74;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 178px; 
	top: 178px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm75 {
	position: fixed;
	z-index: 75;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 180px; 
	top: 180px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm76 {
	position: fixed;
	z-index: 76;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 182px; 
	top: 182px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm77 {
	position: fixed;
	z-index: 77;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 184px; 
	top: 184px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm78 {
	position: fixed;
	z-index: 78;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 186px; 
	top: 186px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm79 {
	position: fixed;
	z-index: 79;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 188px; 
	top: 188px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm80 {
	position: fixed;
	z-index: 80;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 190px; 
	top: 190px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm81 {
	position: fixed;
	z-index: 81;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 192px; 
	top: 192px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm82 {
	position: fixed;
	z-index: 82;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 194px; 
	top: 194px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm83 {
	position: fixed;
	z-index: 83;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 196px; 
	top: 196px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm84 {
	position: fixed;
	z-index: 84;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 198px; 
	top: 198px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm85 {
	position: fixed;
	z-index: 85;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 200px; 
	top: 200px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm86 {
	position: fixed;
	z-index: 86;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 202px; 
	top: 202px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm87 {
	position: fixed;
	z-index: 87;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 204px; 
	top: 204px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm88 {
	position: fixed;
	z-index: 88;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 206px; 
	top: 206px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm89 {
	position: fixed;
	z-index: 89;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 208px; 
	top: 208px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm90 {
	position: fixed;
	z-index: 90;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 210px; 
	top: 210px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm91 {
	position: fixed;
	z-index: 91;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 212px; 
	top: 212px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm92 {
	position: fixed;
	z-index: 92;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 214px; 
	top: 214px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm93 {
	position: fixed;
	z-index: 93;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 216px; 
	top: 216px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm94 {
	position: fixed;
	z-index: 94;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 218px; 
	top: 218px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm95 {
	position: fixed;
	z-index: 95;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 220px; 
	top: 220px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm96 {
	position: fixed;
	z-index: 96;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 222px; 
	top: 222px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm97 {
	position: fixed;
	z-index: 97;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 224px; 
	top: 224px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm98 {
	position: fixed;
	z-index: 98;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 226px; 
	top: 226px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	
.box-container {
}
.box-container .box.elm99 {
	position: fixed;
	z-index: 99;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
	left: 228px; 
	top: 228px; 
	transition: all 1s ease;
	opacity: 0.3;
}
.box-container .box.resize {
	width: 200px;
	height: 200px;

}
	