
.box-container {
}
.box-container .box.elm50 {
	position: fixed;
	z-index: 50;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 500px; 
	top: 500px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm51 {
	position: fixed;
	z-index: 51;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 510px; 
	top: 510px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm52 {
	position: fixed;
	z-index: 52;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 520px; 
	top: 520px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm53 {
	position: fixed;
	z-index: 53;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 530px; 
	top: 530px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm54 {
	position: fixed;
	z-index: 54;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 540px; 
	top: 540px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm55 {
	position: fixed;
	z-index: 55;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 550px; 
	top: 550px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm56 {
	position: fixed;
	z-index: 56;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 560px; 
	top: 560px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm57 {
	position: fixed;
	z-index: 57;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 570px; 
	top: 570px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm58 {
	position: fixed;
	z-index: 58;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 580px; 
	top: 580px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm59 {
	position: fixed;
	z-index: 59;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 590px; 
	top: 590px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm60 {
	position: fixed;
	z-index: 60;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 600px; 
	top: 600px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm61 {
	position: fixed;
	z-index: 61;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 610px; 
	top: 610px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm62 {
	position: fixed;
	z-index: 62;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 620px; 
	top: 620px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm63 {
	position: fixed;
	z-index: 63;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 630px; 
	top: 630px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm64 {
	position: fixed;
	z-index: 64;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 640px; 
	top: 640px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm65 {
	position: fixed;
	z-index: 65;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 650px; 
	top: 650px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm66 {
	position: fixed;
	z-index: 66;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 660px; 
	top: 660px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm67 {
	position: fixed;
	z-index: 67;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 670px; 
	top: 670px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm68 {
	position: fixed;
	z-index: 68;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 680px; 
	top: 680px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm69 {
	position: fixed;
	z-index: 69;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 690px; 
	top: 690px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm70 {
	position: fixed;
	z-index: 70;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 700px; 
	top: 700px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm71 {
	position: fixed;
	z-index: 71;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 710px; 
	top: 710px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm72 {
	position: fixed;
	z-index: 72;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 720px; 
	top: 720px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm73 {
	position: fixed;
	z-index: 73;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 730px; 
	top: 730px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm74 {
	position: fixed;
	z-index: 74;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 740px; 
	top: 740px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm75 {
	position: fixed;
	z-index: 75;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 750px; 
	top: 750px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm76 {
	position: fixed;
	z-index: 76;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 760px; 
	top: 760px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm77 {
	position: fixed;
	z-index: 77;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 770px; 
	top: 770px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm78 {
	position: fixed;
	z-index: 78;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 780px; 
	top: 780px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm79 {
	position: fixed;
	z-index: 79;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 790px; 
	top: 790px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm80 {
	position: fixed;
	z-index: 80;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 800px; 
	top: 800px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm81 {
	position: fixed;
	z-index: 81;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 810px; 
	top: 810px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm82 {
	position: fixed;
	z-index: 82;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 820px; 
	top: 820px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm83 {
	position: fixed;
	z-index: 83;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 830px; 
	top: 830px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm84 {
	position: fixed;
	z-index: 84;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 840px; 
	top: 840px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm85 {
	position: fixed;
	z-index: 85;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 850px; 
	top: 850px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm86 {
	position: fixed;
	z-index: 86;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 860px; 
	top: 860px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm87 {
	position: fixed;
	z-index: 87;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 870px; 
	top: 870px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm88 {
	position: fixed;
	z-index: 88;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 880px; 
	top: 880px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm89 {
	position: fixed;
	z-index: 89;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 890px; 
	top: 890px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm90 {
	position: fixed;
	z-index: 90;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 900px; 
	top: 900px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm91 {
	position: fixed;
	z-index: 91;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 910px; 
	top: 910px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm92 {
	position: fixed;
	z-index: 92;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 920px; 
	top: 920px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm93 {
	position: fixed;
	z-index: 93;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 930px; 
	top: 930px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm94 {
	position: fixed;
	z-index: 94;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 940px; 
	top: 940px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm95 {
	position: fixed;
	z-index: 95;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 950px; 
	top: 950px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm96 {
	position: fixed;
	z-index: 96;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 960px; 
	top: 960px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm97 {
	position: fixed;
	z-index: 97;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 970px; 
	top: 970px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm98 {
	position: fixed;
	z-index: 98;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 980px; 
	top: 980px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm99 {
	position: fixed;
	z-index: 99;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 990px; 
	top: 990px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm100 {
	position: fixed;
	z-index: 100;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1000px; 
	top: 1000px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm101 {
	position: fixed;
	z-index: 101;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1010px; 
	top: 1010px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm102 {
	position: fixed;
	z-index: 102;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1020px; 
	top: 1020px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm103 {
	position: fixed;
	z-index: 103;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1030px; 
	top: 1030px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm104 {
	position: fixed;
	z-index: 104;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1040px; 
	top: 1040px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm105 {
	position: fixed;
	z-index: 105;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1050px; 
	top: 1050px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm106 {
	position: fixed;
	z-index: 106;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1060px; 
	top: 1060px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm107 {
	position: fixed;
	z-index: 107;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1070px; 
	top: 1070px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm108 {
	position: fixed;
	z-index: 108;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1080px; 
	top: 1080px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm109 {
	position: fixed;
	z-index: 109;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1090px; 
	top: 1090px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm110 {
	position: fixed;
	z-index: 110;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1100px; 
	top: 1100px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm111 {
	position: fixed;
	z-index: 111;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1110px; 
	top: 1110px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm112 {
	position: fixed;
	z-index: 112;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1120px; 
	top: 1120px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm113 {
	position: fixed;
	z-index: 113;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1130px; 
	top: 1130px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm114 {
	position: fixed;
	z-index: 114;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1140px; 
	top: 1140px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm115 {
	position: fixed;
	z-index: 115;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1150px; 
	top: 1150px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm116 {
	position: fixed;
	z-index: 116;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1160px; 
	top: 1160px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm117 {
	position: fixed;
	z-index: 117;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1170px; 
	top: 1170px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm118 {
	position: fixed;
	z-index: 118;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1180px; 
	top: 1180px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm119 {
	position: fixed;
	z-index: 119;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1190px; 
	top: 1190px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm120 {
	position: fixed;
	z-index: 120;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1200px; 
	top: 1200px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm121 {
	position: fixed;
	z-index: 121;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1210px; 
	top: 1210px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm122 {
	position: fixed;
	z-index: 122;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1220px; 
	top: 1220px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm123 {
	position: fixed;
	z-index: 123;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1230px; 
	top: 1230px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm124 {
	position: fixed;
	z-index: 124;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1240px; 
	top: 1240px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm125 {
	position: fixed;
	z-index: 125;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1250px; 
	top: 1250px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm126 {
	position: fixed;
	z-index: 126;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1260px; 
	top: 1260px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm127 {
	position: fixed;
	z-index: 127;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1270px; 
	top: 1270px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm128 {
	position: fixed;
	z-index: 128;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1280px; 
	top: 1280px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm129 {
	position: fixed;
	z-index: 129;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1290px; 
	top: 1290px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm130 {
	position: fixed;
	z-index: 130;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1300px; 
	top: 1300px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm131 {
	position: fixed;
	z-index: 131;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1310px; 
	top: 1310px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm132 {
	position: fixed;
	z-index: 132;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1320px; 
	top: 1320px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm133 {
	position: fixed;
	z-index: 133;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1330px; 
	top: 1330px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm134 {
	position: fixed;
	z-index: 134;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1340px; 
	top: 1340px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm135 {
	position: fixed;
	z-index: 135;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1350px; 
	top: 1350px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm136 {
	position: fixed;
	z-index: 136;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1360px; 
	top: 1360px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm137 {
	position: fixed;
	z-index: 137;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1370px; 
	top: 1370px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm138 {
	position: fixed;
	z-index: 138;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1380px; 
	top: 1380px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm139 {
	position: fixed;
	z-index: 139;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1390px; 
	top: 1390px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm140 {
	position: fixed;
	z-index: 140;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1400px; 
	top: 1400px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm141 {
	position: fixed;
	z-index: 141;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1410px; 
	top: 1410px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm142 {
	position: fixed;
	z-index: 142;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1420px; 
	top: 1420px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm143 {
	position: fixed;
	z-index: 143;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1430px; 
	top: 1430px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm144 {
	position: fixed;
	z-index: 144;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1440px; 
	top: 1440px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm145 {
	position: fixed;
	z-index: 145;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1450px; 
	top: 1450px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm146 {
	position: fixed;
	z-index: 146;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1460px; 
	top: 1460px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm147 {
	position: fixed;
	z-index: 147;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1470px; 
	top: 1470px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm148 {
	position: fixed;
	z-index: 148;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1480px; 
	top: 1480px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	
.box-container {
}
.box-container .box.elm149 {
	position: fixed;
	z-index: 149;
	width: 10px;
	height: 10px;
	background-color: #FF0000;
	left: 1490px; 
	top: 1490px; 
	opacity: 0.5;
	transition: all 1s ease;
}
.box-container .box.resize {
	width: 20px;
	height: 20px;
	opacity: 0.6;

}
	